.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.pagination button {
  margin: 0 5px;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 300;
  line-height: 20px;
}

.pagination button.active {
  position: relative;
}
.pagination button.active::after {
  content: "";
  bottom: 5px;
  width: 18px;
  height: 1px;
  background-color: black;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.pagination button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}